<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-design-patterns" role="menuitem"><a href="{{site.baseurl}}tag/design-patterns/">Design Patterns</a></li>
    <li class="nav-enablement" role="menuitem"><a href="{{site.baseurl}}tag/enablement/">Enablement</a></li>
    <li class="nav-travel" role="menuitem"><a href="{{site.baseurl}}tag/travel/">Travel</a></li>
</ul>
